<h1>All available monsters:</h1>

<div class="row">
    <% @monsters.each do |monster| %>
    <div class="col-md-4">
    <img src=<%= monster.image %>>
    <h2><%= link_to "#{monster.name}", "/monsters/#{monster.id}" %></h2>
    <!-- can use the <a href="/monsters/<%= monster.id %>" method too. -->
    <p><%= monster.description %></p>

    <h3>Origin: <%= monster.origin %></h3>
    <h3>Danger Rating: <%= monster.danger_rating %></h3>
    <h3>Price: $<%= monster.price %></h3>
    </div>
    <% end %>

</div>