
<img src="<%= @monster.image %>">
<h1><%= @monster.name %></h1>
<p><%= @monster.description %></p>

<h3>Origin: <%= @monster.origin %></h3>
<h3>Danger Rating: <%= @monster.danger_rating %></h3>
<h3>Price: $<%= @monster.price %></h3>