<div class="container">
  <div class="row">
<% @images.each do |image| %>
<div class="col-md-4">
  <img src="<%= image.url %>" class="show-images">
    <h6><%= link_to "Remove image", "/images/#{image.id}", method: :delete %></h6>
    </div>
<% end %>
</div>
<h2 class="header-title"><%= @monster.name %></h2>
<h3>Categories:</h3>
<ul>
  <% @categories.each do |category| %>
  <li><a href="/monsters?category=<%= category.name %>"><%= category.name %></a></li>
  <% end %>
</ul>
<% if @monster.discounted? %>
  <h3>Discount monster!</h3>
<% end %>
<% if @monster.in_stock %>
  <h3>In stock</h3>
<% else %>
  <h3>Currently unavailable</h3>
<% end %>
<p><%= @monster.description %></p>

<h3>Origin: <%= @monster.origin %></h3>
<h3>Danger Rating: <%= @monster.danger_rating %></h3>
<h3>Price: <%= number_to_currency(@monster.price) %></h3>
<h3>Tax: <%= number_to_currency(@monster.tax) %></h3>
<h3 class="<%= "discount-price" if @monster.discounted? %>">You pay: <%= number_to_currency(@monster.total) %></h3>
<p>This monster is supplied by <a href="/suppliers/<%= @supplier.id %>"><%= @supplier.name %> </a></p>

<%= link_to 'Edit this monster', "/monsters/#{@monster.id}/edit" %>
<br>
<%= link_to 'Destroy this monster', "/monsters/#{@monster.id}", method: :delete %>


<h2>Buy this monster!</h2>
<%= form_tag '/orders', method: :post do %>
  <div>
  <%= label_tag :quantity %>
  <%= text_field_tag :quantity, nil, class: 'entry' %>
  </div>
  <div>
  <%= hidden_field_tag :monster_id, "#{@monster.id}", class: 'entry' %>
  </div>
  <div>
    <%= submit_tag 'Buy Now!', class: 'entry' %>
  </div>
<% end %>
</div>
