<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-primary">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monsters<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="/monsters">All monsters</a>
      </li>
      <li><a class="nav-link" href="/monsters/new">Submit a Monster</a>
      </li>
        <li><a class="nav-link" href="/monsters/random">Random Monster</a>
      </li>
      <li class="divider">
      <li>Categories</li>
      <% @categories_list.each do |category| %>
        <li><a class="nav-link" href="/monsters?category=<%= category.name %>"> <%= category.name %></a></li>
      <% end %>
      </li>
      </ul>
      </li>
     <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Suppliers<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="/suppliers">All suppliers</a>
      </li>
      <li><a class="nav-link" href="/suppliers/new">Become a supplier</a>
      </li>
      </ul>
      </li>
        <% if current_user %>
          <li><%= link_to 'Log out', '/logout', method: :delete %>
          <li><a>Hello <%= current_user.name %></a></li>
        <% else %>
          <li><a href="/signup">Sign up!</a></li>
          <li><a href='/login'>Log in</a></li>
        <% end %>
      </ul>
      <%= form_tag '/monsters', method: :get, class: 'navbar-form navbar-right' do %>
        <div class="form-group">
          <%= text_field_tag :search_term, nil, placeholder: 'Search', class: "form_control" %>
        </div>
        <%= submit_tag 'Submit', class: "btn btn-default" %>
      <% end %>
  </nav>
  <div class="container">
    <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
<%= message %>
    </div>
  </div>
  <% end %>
</div>
    <%= yield %>
    </div>
  </body>
</html>
